{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "arrow-parens": ["error", "as-needed"],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "no-console": 0,
    "default-case": 0
  },
  "env": {
    "browser": true
  }
}
